<div style="margin-left: 10px;">
    <h3 style="font-weight: bold;">Update Employee</h3>
    <div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        
        <div class="form-group">
        <label for="name" style="font-weight: bold;">Name: </label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
        </div>

        <div class="form-group">
        <label for="name" style="font-weight: bold;">Surname: </label>
        <input type="text" class="form-control" id="surname" [(ngModel)]="user.surname" name="surname">
        </div>

        <div class="form-group">
        <label for="name" style="font-weight: bold;">Pincode: </label>
        <input type="text" class="form-control" id="pincode" [(ngModel)]="user.pincode" name="pincode">
        </div>
        
        <div class="form-group">
            <label for="name" style="font-weight: bold;">Date of Birth: </label>
            <input type="date" class="form-control" id="dob" name="dob" 
                   [ngModel]="user.dob | date:'yyyy-MM-dd'" (ngModelChange)="user.dob = $event">
        </div>

        <div class="form-group">
            <label for="name" style="font-weight: bold;">Date of Joining: </label>
            <input type="date" class="form-control" id="doj" name="doj" 
                   [ngModel]="user.doj | date:'yyyy-MM-dd'" (ngModelChange)="user.doj = $event">
        </div>

        <br/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" style="width:50%">Submit</button>
            <button type="submit" (click)="showUserDetails(user.uid)" class="btn btn-danger" style="width:50%">Cancel</button>
        </div>
    </form>
    </div>
</div>