<div style="margin-left: 10px;">
  <h2 style="font-weight: bold;">User Details</h2> 
  <hr/>
  <div *ngIf="user">
    <div>
      <label><b>User ID: </b></label> {{user.uid}}
    </div>
    <div>
      <label><b>First Name: </b></label> {{user.name}}
    </div>
    <div>
      <label><b>Last Name: </b></label> {{user.surname}}
    </div>
    <div>
      <label><b>Pincode: </b></label> {{user.pincode}}
    </div>
    <div>
      <label><b>Date of Birth: </b></label> {{user.dob | date:'dd-MMM-yyyy'}}
    </div>
    <div>
      <label><b>Date of Joining: </b></label> {{user.doj | date:'dd-MMM-yyyy'}}
    </div>  
    <div>
      <label><b>Active Status: </b></label> {{user.activeStatus}}
    </div>  
  </div>
  <br/>
  <div style="width:400px">
    <button (click)="userUpdate(user.uid)" class="btn btn-info" style="width:50%">Edit User Details</button>
    <button (click)="list()" class="btn btn-danger" style="width:50%">Back to User List</button>
  </div>
</div>